<div id="banner"></div>
<div class="container">


  <h1 id="title"><em> oh, snap!</em></h1>

  <h3 id="blurb">See what the people are saying.</h3>

  <form action="/reviews" method="get" id="search">
    <h5>Find your restaurant:</h5>
    <input type="text" name="term" id="term" required>
    <input type="submit" class="button-primary" value="Search">
  </form>

  <div id="front-logos">
    <%= image_tag("yelp-invert.png", height: '40px', alt: 'yelp-logo') %>
    <%= image_tag("opentable-invert.png", height: '40px', alt: 'opentable-logo') %>
    <%= image_tag("zomato-invert.png", height: '40px', alt: 'zomato-logo') %>
    <%= image_tag("bookenda-invert.png", height: '40px', alt: 'bookenda-logo') %>
  </div>


<% if $error %>
  <div id="error-message">
    <h3> <%= $error %> </h3>
  </div>
<% end %>


</div>