<div id="banner"></div>
<div class="container">


  <h1 id="title"><em> oh, snap!</em></h1>

  <h3 id="blurb">See what the people are saying.</h3>

  <div id="spacer">
    <form action="/reviews" method="get" id="search">
      <h5>Find recent reviews for your restaurant:</h5>
      <input type="text" name="restaurant" id="restaurant" required>
      <input type="submit" class="button-primary" value="Search" id="search-btn">
    </form>

    <div id="loading">
      <h5>Retrieving reviews...</h5>
      <i class="fa fa-refresh fa-spin" style="font-size:60px"></i>
    </div>
  </div>



  <div id="front-logos">
    <p>With reviews from:</p>
    <%= image_tag("yelp-invert.png", height: '40px', alt: 'yelp-logo') %>
    <%= image_tag("opentable-invert.png", height: '40px', alt: 'opentable-logo') %>
    <%= image_tag("zomato-invert.png", height: '50px', alt: 'zomato-logo') %>
    <%= image_tag("bookenda-invert.png", height: '40px', alt: 'bookenda-logo') %>
  </div>

<% if $error %>
  <div id="error-message">
    <h3> <%= $error %> </h3>
  </div>
<% end %>




</div>