<div class="row">
  <div id="sidebar" class="six columns">

    <a href="/"><i class="fa fa-arrow-circle-left" id="back"></i></a>

    <div id="restaurant-info">
      <div>
        <h1><%= @data[:restaurant][:name] %> </h1>
        <h4><%= @data[:restaurant][:address][0] %></h4>
        <h4><%= @data[:restaurant][:address][1] %></h4>
        <h4><%= @data[:restaurant][:address][2] %></h4>
      </div>
    </div>

    <div id="logos">
      <h6>Jump to reviews from:</h6>
      <%= image_tag("yelp.png", height: '40px', id: 'yelp-link', alt: 'yelp-logo') %>
      <%= image_tag("opentable.png", height: '40px', id: 'opentable-link', alt: 'opentable-logo') %>
      <%= image_tag("zomato.png", height: '50px', id: 'zomato-link', alt: 'zomato-logo') %>
      <%= image_tag("bookenda.png", height: '40px', id: 'bookenda-link', alt: 'bookenda-logo') %>
    </div>
  </div>

  <div id="reviews" class="six columns">
    <div id="yelp" class="review">
      <%= link_to image_tag("yelp-invert.png", height: '40px', alt: 'yelp logo'), @data[:reviews][:yelp][:url] %>
      <% for i in 0..@data[:reviews][:yelp][:reviews].length-1 %>
        <div>
          <p class="date"><%= @data[:reviews][:yelp][:dates][i] %></p> <p class="rating"> <%= @data[:reviews][:yelp][:ratings][i] %>/5</p>
          <p class="more"><%= @data[:reviews][:yelp][:reviews][i].html_safe %></p>
        </div>
      <% end %>
    </div>

    <div id="opentable" class="review">
      <%= link_to image_tag("opentable-invert.png", height: '40px', alt: 'opentable-logo'), @data[:reviews][:opentable][:url] %>
      <% if @data[:reviews][:opentable][:ratings] %>
        <% for i in 0..@data[:reviews][:opentable][:reviews].length-1 %>
          <div>
            <p class="date"><%= @data[:reviews][:opentable][:dates][i] %> </p> <p class="rating"><%= @data[:reviews][:opentable][:ratings][i] %>/5</p>
            <p class="more"><%= @data[:reviews][:opentable][:reviews][i].html_safe %></p>
          </div>
        <% end %>
      <% else %>
        <p> No OpenTable reviews for this restaurant.</p>
      <% end %>
    </div>

    <div id="zomato" class="review">
      <%= link_to image_tag("zomato-invert.png", height: '50px', alt: 'zomato-logo'), @data[:reviews][:zomato][:url] %>
      <% if @data[:reviews][:zomato][:ratings] %>
        <% for i in 0..@data[:reviews][:zomato][:reviews].length-1 %>
          <div>
            <p class="date"><%= @data[:reviews][:zomato][:dates][i] %></p> <p class="rating"><%= @data[:reviews][:zomato][:ratings][i] %>/5</p>
            <p class="more"><%= @data[:reviews][:zomato][:reviews][i].html_safe %></p>         
          </div>
        <% end %>
      <% else %>
        <p> No Zomato reviews for this restaurant.</p>
      <% end %>
    </div>

    <div id="bookenda" class="review">
      <%= link_to image_tag("bookenda-invert.png", height: '40px', alt: 'bookenda-logo'), @data[:reviews][:bookenda][:url] %>
      <% if @data[:reviews][:bookenda][:ratings] %>
        <% for i in 0..@data[:reviews][:bookenda][:reviews].length-1 %>
          <div>
            <p class="date"><%= @data[:reviews][:bookenda][:dates][i] %></p> <p class="rating"><%= @data[:reviews][:bookenda][:ratings][i] %>/5</p>
            <p class="more"><%= @data[:reviews][:bookenda][:reviews][i].html_safe %></p>
          </div>
        <% end %>
      <% else %>
        <p> No Bookenda reviews for this restaurant.</p>
      <% end %>
    </div>
  </div>
</div>