<div class="row">
  <div id="sidebar" class="six columns">
    <div id="restaurant-info">
      <h1><%= @data[:restaurant][:name] %> </h1>
      <h4><%= @data[:restaurant][:address][0] %></h4>
      <h4><%= @data[:restaurant][:address][1] %></h4>
      <h4><%= @data[:restaurant][:address][2] %></h4>
    </div>

    <div id="logos">
    <h5>View recent reviews from:</h5>
        <%= image_tag("yelp.png", height: '40px', id: 'yelp-link', alt: 'yelp-logo') %>
        <%= image_tag("opentable.png", height: '40px', id: 'opentable-link', alt: 'opentable-logo') %>
        <%= image_tag("zomato.png", height: '40px', id: 'zomato-link', alt: 'zomato-logo') %>
        <%= image_tag("bookenda.png", height: '40px', id: 'bookenda-link', alt: 'bookenda-logo') %>
    </div>
  </div>

  <div id="reviews" class="six columns">
    <div id="yelp" class="review">
      <%= image_tag("yelp-invert.png", height: '40px', alt: 'yelp logo') %>
      <% for i in 0..@data[:reviews][:yelp][:ratings].length-1 %>
        <div>
          <p class="date"><%= @data[:reviews][:yelp][:dates][i] %></p> <p class="rating"> <%= @data[:reviews][:yelp][:ratings][i] %>0 out of 5.00</p>
          <p class="more"><%= @data[:reviews][:yelp][:reviews][i].html_safe %></p>
        </div>
      <% end %>
    </div>

    <div id="opentable" class="review">
      <%= image_tag("opentable-invert.png", height: '40px', alt: 'opentable-logo') %>
      <% if @data[:reviews][:opentable][:ratings] %>
        <% for i in 0..@data[:reviews][:opentable][:ratings].length-1 %>
          <div>
            <p class="date"><%= @data[:reviews][:opentable][:dates][i] %> </p> <p class="rating"><%= @data[:reviews][:opentable][:ratings][i] %>.00 out of 5.00</p>
            <p class="more"><%= @data[:reviews][:opentable][:reviews][i].html_safe %></p>
          </div>
        <% end %>
      <% else %>
        <p> No OpenTable data for this restaurant.</p>
      <% end %>
    </div>

    <div id="zomato" class="review">
      <%= image_tag("zomato-invert.png", height: '40px', alt: 'zomato-logo') %>
      <% for i in 0..@data[:reviews][:zomato][:ratings].length-1 %>
        <div>
          <p class="date"><%= @data[:reviews][:zomato][:dates][i] %></p> <p class="rating"><%= @data[:reviews][:zomato][:ratings][i] %>0 out of 5.00</p>
          <p class="more"><%= @data[:reviews][:zomato][:reviews][i].html_safe %></p>         
        </div>
      <% end %>
    </div>

    <div id="bookenda" class="review">
      <%= image_tag("bookenda-invert.png", height: '40px', alt: 'bookenda-logo') %>
      <% if @data[:reviews][:bookenda][:ratings] %>
        <% for i in 0..@data[:reviews][:bookenda][:ratings].length-1 %>
          <div>
            <p class="date"><%= @data[:reviews][:bookenda][:dates][i] %></p> <p class="rating"><%= @data[:reviews][:bookenda][:ratings][i] %> out of 5.00</p>
            <p class="more"><%= @data[:reviews][:bookenda][:reviews][i].html_safe %></p>
          </div>
        <% end %>
      <% else %>
        <p> No Bookenda data for this restaurant.</p>
      <% end %>
    </div>
  </div>
</div>