<div class="container">
<div id="restaurant-info">
  <h1><%= @zomato_restaurant["name"] %> </h1>
  <h4><%= @yelp_restaurant.location.display_address[0] %></h4>
  <h4><%= @yelp_restaurant.location.display_address[1] %></h4>
  <h4><%= @yelp_restaurant.location.display_address[2] %></h4>
</div>

<div id="reviews">
  <div id="yelp" class="review">
    <h1>YELP</h1>
    <% for i in 0..@yelp_reviews.length-1 %>
      <div>
        <p class="date"><%= @yelp_dates[i] %></p> <p class="rating"> <%= @yelp_ratings[i] %>0 out of 5.00</p>
        <p class="more"><%= @yelp_reviews[i].html_safe %></p>
      </div>
    <% end %>
  </div>

  <div id="opentable" class="review">
    <h1>OPENTABLE</h1>
    <% if @open_table_reviews %>
      <% for i in 0..@open_table_reviews.length-1 %>
        <div>
          <p class="date"><%= @open_table_dates[i] %> </p> <p class="rating"><%= @open_table_ratings[i] %>.00 out of 5.00</p>
          <p class="more"><%= @open_table_reviews[i].html_safe %></p>
        </div>
      <% end %>
    <% else %>
      <p> No OpenTable data for this restaurant.</p>
    <% end %>
  </div>

  <div id="zomato" class="review">
    <h1>ZOMATO</h1>
    <% for i in 0..@zomato_reviews.length-1 %>
      <div>
        <p class="date"><%= @zomato_dates[i] %></p> <p class="rating"><%= @zomato_ratings[i] %>0 out of 5.00</p>
        <p class="more"><%= @zomato_reviews[i].html_safe %></p>         
      </div>
    <% end %>
  </div>

  <div id="bookenda" class="review">
    <h1>BOOKENDA</h1>
    <% if @bookenda_reviews %>
      <% for i in 0..@bookenda_reviews.length-1 %>
        <div>
          <p class="date"><%= @bookenda_dates[i] %></p> <p class="rating"><%= @bookenda_ratings[i] %> out of 5.00</p>
          <p class="more"><%= @bookenda_reviews[i].html_safe %></p>
        </div>
      <% end %>
    <% else %>
      <p> No Bookenda data for this restaurant.</p>
    <% end %>
  </div>
</div>
</div>