  <div>
    <h5><%= @zomato_restaurant["name"] %> </h5>
    <h6><a href=<%= @zomato_url %>><%= @zomato_url %></a></h6>
    <p><%= @yelp_restaurant.location.display_address[0] %>, <%= @yelp_restaurant.location.display_address[1] %>, <%= @yelp_restaurant.location.display_address[2] %></p>
  </div>

  <div id="yelp">
    <h1>YELP</h1>
    <% for i in 0..2 %>
      <div class="yelp-review">
        <p><%= @yelp_dates[i] %> | <%= @yelp_ratings[i] %> out of 5.0</p>
        <p><%= @yelp_reviews[i].html_safe %></p>
      </div>
    <% end %>
  </div>

  <br>

  <div id="opentable">
    <h1>OPENTABLE</h1>
    <% for i in 0..2 %>
      <div class="open-table-review">
        <p><%= @open_table_dates[i] %> | <%= @open_table_ratings[i] %> out of 5</p>
        <p><%= @open_table_reviews[i].html_safe %></p>
      </div>
    <% end %>
  </div>

  <div id="zomato">
    <h1>ZOMATO</h1>
  </div>